<template>
  <div id="<%= componentName %>"></div>
</template>

<script>
export default {
  name: '<%= componentName %>',
  props: {},
  components: {},
  data() {
    return {}
  },
  mounted() {},
  computed: {},
  watch: {},
  methods: {},
}
</script>

<style lang="scss" scoped>

</style>
